In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures

In [2]:
train = pd.read_csv("train_NIR5Yl1.csv")

In [3]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [4]:
train.shape

(330045, 7)

In [5]:
train.info

<bound method DataFrame.info of             ID Tag  Reputation  Answers  Username    Views  Upvotes
0        52664   a      3942.0      2.0    155623   7855.0     42.0
1       327662   a     26046.0     12.0     21781  55801.0   1175.0
2       468453   c      1358.0      4.0     56177   8067.0     60.0
3        96996   a       264.0      3.0    168793  27064.0      9.0
4       131465   c      4271.0      4.0    112223  13986.0     83.0
...        ...  ..         ...      ...       ...      ...      ...
330040  339800   c        36.0      2.0     84919   1063.0      0.0
330041  253800   c      1649.0      2.0     76730  23319.0     73.0
330042  210756   c      6178.0      2.0     91701   2453.0     15.0
330043   56089   j        89.0      2.0     80245   2107.0      3.0
330044  300553   j      2001.0      4.0    154692   2554.0     37.0

[330045 rows x 7 columns]>

In [6]:
train.describe

<bound method NDFrame.describe of             ID Tag  Reputation  Answers  Username    Views  Upvotes
0        52664   a      3942.0      2.0    155623   7855.0     42.0
1       327662   a     26046.0     12.0     21781  55801.0   1175.0
2       468453   c      1358.0      4.0     56177   8067.0     60.0
3        96996   a       264.0      3.0    168793  27064.0      9.0
4       131465   c      4271.0      4.0    112223  13986.0     83.0
...        ...  ..         ...      ...       ...      ...      ...
330040  339800   c        36.0      2.0     84919   1063.0      0.0
330041  253800   c      1649.0      2.0     76730  23319.0     73.0
330042  210756   c      6178.0      2.0     91701   2453.0     15.0
330043   56089   j        89.0      2.0     80245   2107.0      3.0
330044  300553   j      2001.0      4.0    154692   2554.0     37.0

[330045 rows x 7 columns]>

In [7]:
train = train.drop(train[train.Views > 3000000].index)

In [8]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [9]:
train['Tag']

0         a
1         a
2         c
3         a
4         c
         ..
330040    c
330041    c
330042    c
330043    j
330044    j
Name: Tag, Length: 330032, dtype: object

In [10]:
labelencoder_X = LabelEncoder()
train['Tag'] = labelencoder_X.fit_transform(train['Tag'])
train.drop(['ID','Username'],axis=1, inplace=True)
target = train['Upvotes']

In [11]:
train.head()

   Tag  Reputation  Answers    Views  Upvotes
0    0      3942.0      2.0   7855.0     42.0
1    0     26046.0     12.0  55801.0   1175.0
2    1      1358.0      4.0   8067.0     60.0
3    0       264.0      3.0  27064.0      9.0
4    1      4271.0      4.0  13986.0     83.0

In [12]:
train.tail()

        Tag  Reputation  Answers    Views  Upvotes
330040    1        36.0      2.0   1063.0      0.0
330041    1      1649.0      2.0  23319.0     73.0
330042    1      6178.0      2.0   2453.0     15.0
330043    4        89.0      2.0   2107.0      3.0
330044    4      2001.0      4.0   2554.0     37.0

In [41]:
train

        Tag  Reputation  Answers    Views  Upvotes
0         0      3942.0      2.0   7855.0     42.0
1         0     26046.0     12.0  55801.0   1175.0
2         1      1358.0      4.0   8067.0     60.0
3         0       264.0      3.0  27064.0      9.0
4         1      4271.0      4.0  13986.0     83.0
...     ...         ...      ...      ...      ...
330040    1        36.0      2.0   1063.0      0.0
330041    1      1649.0      2.0  23319.0     73.0
330042    1      6178.0      2.0   2453.0     15.0
330043    4        89.0      2.0   2107.0      3.0
330044    4      2001.0      4.0   2554.0     37.0

[330032 rows x 5 columns]

In [13]:
from sklearn.preprocessing import Binarizer
bn = Binarizer(threshold=7)
pd_watched = bn.transform([train['Answers']])[0]
train['pd_watched'] = pd_watched

In [14]:
train.head()

   Tag  Reputation  Answers    Views  Upvotes  pd_watched
0    0      3942.0      2.0   7855.0     42.0         0.0
1    0     26046.0     12.0  55801.0   1175.0         1.0
2    1      1358.0      4.0   8067.0     60.0         0.0
3    0       264.0      3.0  27064.0      9.0         0.0
4    1      4271.0      4.0  13986.0     83.0         0.0

In [15]:
feature_names = [x for x in train.columns if x not in ['Upvotes']]

In [16]:
x_train, x_val, y_train, y_val = train_test_split(train[feature_names],
                                                 target, test_size = 0.20, random_state = 210)
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
x_val = sc_X.transform(x_val)

In [24]:
poly_reg = PolynomialFeatures(degree=4, interaction_only=False,
                             include_bias=True)
X_poly = poly_reg.fit_transform(x_train)
lin_reg_1 = linear_model.LassoLars(alpha=0.021,max_iter=150)
lin_reg_1.fit(X_poly, y_train)

LassoLars(alpha=0.021, copy_X=True, eps=2.220446049250313e-16,
          fit_intercept=True, fit_path=True, max_iter=150, normalize=True,
          positive=False, precompute='auto', verbose=False)

In [25]:
pred_val = lin_reg_1.predict(poly_reg.fit_transform(x_val))
print(r2_score(y_val, pred_val))

0.9338321495540769

### Testing

In [27]:
test = pd.read_csv('test_8i3B3FC.csv')

In [28]:
test.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [29]:
ids = test['ID']

In [30]:
ids

0         366953
1          71864
2         141692
3         316833
4         440445
           ...
141443     47187
141444    329126
141445    282334
141446    386629
141447    107271
Name: ID, Length: 141448, dtype: int64

In [31]:
test.drop(['ID','Username'],axis=1,inplace=True)

In [32]:
labelencoder_X = LabelEncoder()

In [33]:
test['Tag'] = labelencoder_X.fit_transform(test['Tag'])

In [34]:
from sklearn.preprocessing import Binarizer
bn = Binarizer(threshold=7)

In [35]:
pd_watched = bn.transform([test['Answers']])[0]
test['pd_watched'] = pd_watched

In [36]:
test = sc_X.fit_transform(test)

In [37]:
pred_test = lin_reg_1.predict(poly_reg.fit_transform(test))
pred_test = abs(pred_test)

In [38]:
submission = pd.DataFrame({'ID': ids,
                          'Upvotes': pred_test})
submission.to_csv("Final_sub.csv", index = False)